/* CSS reset and styles to apply to everything */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/* Skybox blue background for everything */

body {
    background: linear-gradient(#9ff, #6cf) fixed;
}

/* Size for the game field is currently fixed */
/* TODO: media queries for the size? */

#game {
    width: 1200px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* The blocks that are drawn into the world */

.block {
    height: 32px;
    width: 32px;
    position: absolute;
    background: linear-gradient(#666, #333);
    border: 2px solid #999;
}

/* The player is drawn this way */
/* TODO: change the player to something more interesting */

.player {
    height: 32px;
    width: 32px;
    position: absolute;
    background-color: mediumseagreen;
    border-radius: 50%;
}

/* The goal the player is trying to reach */
/* Using SVG to make it a gold star shape */
/* Using CSS animations to make it rotate */

.goal {
    position: absolute;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background-size: cover;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='210' width='500' fill='%23ffdd00'><polygon points='100,10 40,198 190,78 10,78 160,198'/></svg>");
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); }
}